archives/flujosNodeRed.json
[
    {
        "id": "e89489f417625c52",
        "type": "tab",
        "label": "TF-EFDI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23de7b61b56c2ba4",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/humedadExterior",
        "topic": "sensor-efdi/humedadExterior",
        "qos": "2",
        "datatype": "json",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "ef808fb698d5a003",
                "bd6ff4100648829e",
                "8697df48dead54a6",
                "4a13cc8fab67381e",
                "f92581cef17a7306",
                "e9f6d70e745dc76e",
                "4daa30bd44caba74",
                "f6dd1baf21ff9e74"
            ]
        ]
    },
    {
        "id": "78545ea6f9727fae",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/temperaturaExterior",
        "topic": "sensor-efdi/temperaturaExterior",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "ef808fb698d5a003",
                "fadec9b2398e9a3f",
                "93482873e8d6f78c",
                "2215d0f8ee6c8302",
                "5ad4058568d24e46",
                "8e06ec3df8f9e2da",
                "c7d029d827b9e9bc",
                "f6dd1baf21ff9e74"
            ]
        ]
    },
    {
        "id": "0bb43055382693a2",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/fecha_hora",
        "topic": "sensor-efdi/fecha_hora",
        "qos": "2",
        "datatype": "utf8",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 560,
        "wires": [
            [
                "ef808fb698d5a003",
                "2b550172cc2982b2"
            ]
        ]
    },
    {
        "id": "ef808fb698d5a003",
        "type": "debug",
        "z": "e89489f417625c52",
        "name": "debug-test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 340,
        "wires": []
    },
    {
        "id": "bd6ff4100648829e",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "HumedadChartGauge",
        "group": "8a42d9c2e94d3e8d",
        "order": 1,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Humedad Exterior (SHT31)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "fadec9b2398e9a3f",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "TemperaturaChartGauge",
        "group": "60cdd2297731c0cf",
        "order": 1,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Temperatura Exterior (SHT31)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 500,
        "wires": []
    },
    {
        "id": "2b550172cc2982b2",
        "type": "ui_text",
        "z": "e89489f417625c52",
        "group": "29a389cd08922031",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Fecha y Hora",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 580,
        "wires": []
    },
    {
        "id": "2215d0f8ee6c8302",
        "type": "switch",
        "z": "e89489f417625c52",
        "name": "switchTempAlta",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "40.0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 680,
        "wires": [
            [
                "d96680a978a054eb",
                "204c15ecf399116c"
            ]
        ]
    },
    {
        "id": "d96680a978a054eb",
        "type": "ui_toast",
        "z": "e89489f417625c52",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "¡Alerta! Temperatura superior a 40°C",
        "name": "alertaTempAlta",
        "x": 780,
        "y": 680,
        "wires": []
    },
    {
        "id": "93482873e8d6f78c",
        "type": "switch",
        "z": "e89489f417625c52",
        "name": "switchTempBaja",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "5.0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 640,
        "wires": [
            [
                "99c39ac0086c216b",
                "5ecff96cf082f1bb"
            ]
        ]
    },
    {
        "id": "99c39ac0086c216b",
        "type": "ui_toast",
        "z": "e89489f417625c52",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "¡Alerta! Temperatura inferior a 5°C",
        "name": "alertaTempBaja",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "8697df48dead54a6",
        "type": "switch",
        "z": "e89489f417625c52",
        "name": "switchHumAlta",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "70.0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "55ed8b3751d2fbc1",
                "ce277a359fd40774"
            ]
        ]
    },
    {
        "id": "55ed8b3751d2fbc1",
        "type": "ui_toast",
        "z": "e89489f417625c52",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "¡Alerta! Humedad de Exterior superior a 70%!",
        "name": "alertaHumAlta",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "4a13cc8fab67381e",
        "type": "switch",
        "z": "e89489f417625c52",
        "name": "switchHumBaja",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "30.0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "25ead54c1f219d7a",
                "e8596da73e789692"
            ]
        ]
    },
    {
        "id": "25ead54c1f219d7a",
        "type": "ui_toast",
        "z": "e89489f417625c52",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "¡Alerta! Humedad de Exterior inferior a 30%!",
        "name": "alertaHumBaja",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "25d582308d5b8f57",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/estado",
        "topic": "sensor-efdi/estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "ef808fb698d5a003",
                "306e91a5c65cc6c7"
            ]
        ]
    },
    {
        "id": "d1e2df6823f4ae95",
        "type": "ui_text",
        "z": "e89489f417625c52",
        "group": "29a389cd08922031",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "ESP32: ",
        "format": "{{msg.payload}} ",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 980,
        "y": 40,
        "wires": []
    },
    {
        "id": "44f870c561a83e79",
        "type": "function",
        "z": "e89489f417625c52",
        "name": "funModPayload",
        "func": "// Evaluar el valor actual de msg.payload\nif (msg.payload === \"ON\") {\n    msg.payload = \"ON\";\n} else {\n    msg.payload = \"OFF\";\n}\n// Retornar el mensaje con el nuevo valor\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 40,
        "wires": [
            [
                "d1e2df6823f4ae95"
            ]
        ]
    },
    {
        "id": "306e91a5c65cc6c7",
        "type": "trigger",
        "z": "e89489f417625c52",
        "name": "",
        "op1": "ON",
        "op2": "OFF",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "\"ON\"",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 40,
        "wires": [
            [
                "44f870c561a83e79"
            ]
        ]
    },
    {
        "id": "38c29ee45417b0dc",
        "type": "ui_template",
        "z": "e89489f417625c52",
        "group": "be57f1bc181a0eab",
        "name": "Ubicación Geográfica",
        "order": 1,
        "width": 30,
        "height": 10,
        "format": "<div id=\"map\" style=\"width: 100%; height: 50vh;\"></div>\n<script>\n    function initMap() {\n        // Coordenadas del marcador\n        var myLatLng = { lat: 41.38879, lng: 2.15899 };\n\n        // Crear el mapa\n        var map = new google.maps.Map(document.getElementById('map'), {\n            zoom: 13,\n            center: myLatLng\n        });\n\n        // Agregar el marcador\n        var marker = new google.maps.Marker({\n            position: myLatLng,\n            map: map,\n            title: 'Ubicación fija: Barcelona'\n        });\n    }\n</script>\n<script async defer\n    src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSyAIbNZXmZWTPDYtyMDmH_hA6sD8hri8Cqo&callback=initMap\">\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f1ddda3b1a15683b",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/humedadCajaCircuitos",
        "topic": "sensor-efdi/humedadCajaCircuitos",
        "qos": "2",
        "datatype": "json",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "59d37c2e3c8618ce",
                "4529d87e59850abb",
                "b6360d12dd6e7a3a",
                "ce3b84a43c36069f",
                "ad10a8b25ea855b4",
                "ef3c071dabe5ef49",
                "38897057df5a2fbf"
            ]
        ]
    },
    {
        "id": "1d3bb7d9c94a75f4",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/temperaturaCajaCircuitos",
        "topic": "sensor-efdi/temperaturaCajaCircuitos",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 1060,
        "wires": [
            [
                "6b5f8d4939dfc06a",
                "b2e257e6aff03565",
                "d17366d8aba2f165",
                "f8280ff1db074bbc",
                "3caff417043d4bf2",
                "8c276f387ce063ec",
                "38897057df5a2fbf"
            ]
        ]
    },
    {
        "id": "59d37c2e3c8618ce",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "HumedadChartGauge-CajaCircuitos",
        "group": "8a42d9c2e94d3e8d",
        "order": 10,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Humedad Circuito (DHT11)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2196f3",
            "#9c27b0",
            "#e91e63"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 940,
        "wires": []
    },
    {
        "id": "6b5f8d4939dfc06a",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "TemperaturaChartGauge-CajaCircuitos",
        "group": "60cdd2297731c0cf",
        "order": 10,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Temperatura Circuito (DHT11)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2196f3",
            "#9c27b0",
            "#e91e63"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4529d87e59850abb",
        "type": "switch",
        "z": "e89489f417625c52",
        "name": "switchHumAlta",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "80.0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1020,
        "y": 1020,
        "wires": [
            [
                "c997c54a052840dd",
                "6a3f8f90b4252738"
            ]
        ]
    },
    {
        "id": "c997c54a052840dd",
        "type": "ui_toast",
        "z": "e89489f417625c52",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "¡Alerta! Humedad de Circuitos: Superior a 80%!",
        "name": "alertaHumAlta",
        "x": 1320,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b6360d12dd6e7a3a",
        "type": "switch",
        "z": "e89489f417625c52",
        "name": "switchHumBaja",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "20.0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1020,
        "y": 980,
        "wires": [
            [
                "715fd0c9e62e1580",
                "8b097685625faec3"
            ]
        ]
    },
    {
        "id": "715fd0c9e62e1580",
        "type": "ui_toast",
        "z": "e89489f417625c52",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "¡Alerta! Humedad de Control inferior a 20%!",
        "name": "alertaHumBaja",
        "x": 1320,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d17366d8aba2f165",
        "type": "switch",
        "z": "e89489f417625c52",
        "name": "switchTempAlta",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "40.0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1020,
        "y": 1100,
        "wires": [
            [
                "f2669db54a1be8c0",
                "f9fcd27180877502"
            ]
        ]
    },
    {
        "id": "f2669db54a1be8c0",
        "type": "ui_toast",
        "z": "e89489f417625c52",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "¡Alerta! Temperatura de Circuitos superior a 40°C!",
        "name": "alertaTempAlta",
        "x": 1320,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b2e257e6aff03565",
        "type": "switch",
        "z": "e89489f417625c52",
        "name": "switchTempBaja",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "5.0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1020,
        "y": 1060,
        "wires": [
            [
                "2d67560b03873f16",
                "9dadcf483a73fb55"
            ]
        ]
    },
    {
        "id": "2d67560b03873f16",
        "type": "ui_toast",
        "z": "e89489f417625c52",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "¡Alerta! Temperatura de Circuitos: Inferior a 5°C!",
        "name": "alertaTempBaja",
        "x": 1320,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d9ffc4d97139a31d",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/ssidESP32",
        "topic": "sensor-efdi/ssidESP32",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "dd616e266e6dd8b2"
            ]
        ]
    },
    {
        "id": "1bb98b32caf0012e",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/ipLocalESP32",
        "topic": "sensor-efdi/ipLocalESP32",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "71653f2107d1d764"
            ]
        ]
    },
    {
        "id": "abd0483cc5554051",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/estadoWifiESP32",
        "topic": "sensor-efdi/estadoWifiESP32",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "26fcbe1611d8038c"
            ]
        ]
    },
    {
        "id": "26fcbe1611d8038c",
        "type": "ui_text",
        "z": "e89489f417625c52",
        "group": "29a389cd08922031",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Wi-Fi: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "71653f2107d1d764",
        "type": "ui_text",
        "z": "e89489f417625c52",
        "group": "29a389cd08922031",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "IP Local: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "dd616e266e6dd8b2",
        "type": "ui_text",
        "z": "e89489f417625c52",
        "group": "29a389cd08922031",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "SSID de Wi-Fi:  ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "8b097685625faec3",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "e89489f417625c52",
        "name": "AlertaWP-HumBajaCircuitos",
        "credtype": "account",
        "account": "9f90f7cebf5dd5ac",
        "text": "*WHTMet:* _¡Alerta! 🚨 Humedad de Circuitos: Inferior a 20%!_",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 1280,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "6a3f8f90b4252738",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "e89489f417625c52",
        "name": "AlertaWP-HumAltaCircuitos",
        "credtype": "account",
        "account": "9f90f7cebf5dd5ac",
        "text": "*WHTMet:* _¡Alerta! 🚨 Humedad de Circuitos: Superior a 80%!_",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 1280,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "9dadcf483a73fb55",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "e89489f417625c52",
        "name": "AlertaWP-TempBajaCircuitos",
        "credtype": "account",
        "account": "9f90f7cebf5dd5ac",
        "text": "*WHTMet:* _¡Alerta! 🚨 Temperatura de Circuitos: Inferior a 5°C!_",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 1280,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "f9fcd27180877502",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "e89489f417625c52",
        "name": "AlertaWP-TempAltaCircuitos",
        "credtype": "account",
        "account": "9f90f7cebf5dd5ac",
        "text": "*WHTMet:* _¡Alerta! 🚨 Temperatura de Circuitos: Superior a 40°C!_",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 1280,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "908189639956e7a8",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/velocidadVientoKH",
        "topic": "sensor-efdi/velocidadVientoKH",
        "qos": "2",
        "datatype": "utf8",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 1340,
        "wires": [
            [
                "1434bad46309d71a",
                "f1d343ec91c4df6b",
                "ef808fb698d5a003",
                "1c647053fdf01f42",
                "60f636060a0c26be",
                "d361372abae36e2d"
            ]
        ]
    },
    {
        "id": "377ce30486a1971a",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "VientoMSChartGauge",
        "group": "226bdd181dce7421",
        "order": 1,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Velocidad Viento (Anemómetro)",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 1260,
        "wires": []
    },
    {
        "id": "1434bad46309d71a",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "VientoKHChartGauge",
        "group": "226bdd181dce7421",
        "order": 10,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Velocidad Viento  (Anemómetro)",
        "label": "k/h",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 1360,
        "wires": []
    },
    {
        "id": "26826dc601ca7290",
        "type": "mqtt in",
        "z": "e89489f417625c52",
        "name": "sensor-efdi/velocidadVientoMS",
        "topic": "sensor-efdi/velocidadVientoMS",
        "qos": "2",
        "datatype": "utf8",
        "broker": "7a3090c3c7f1f505",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 1280,
        "wires": [
            [
                "377ce30486a1971a",
                "ef808fb698d5a003",
                "9313f1588fb24a90",
                "5e745bb3104ad82c",
                "e8afa89fb83db97f"
            ]
        ]
    },
    {
        "id": "395cb8652fd99625",
        "type": "ui_toast",
        "z": "e89489f417625c52",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "¡Alerta! Vientos Fuertes: Superiores a 30km/h!",
        "name": "alertaVientoFuerte",
        "x": 1250,
        "y": 1300,
        "wires": []
    },
    {
        "id": "f1d343ec91c4df6b",
        "type": "switch",
        "z": "e89489f417625c52",
        "name": "switchVientosFuertes",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30.0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 980,
        "y": 1300,
        "wires": [
            [
                "395cb8652fd99625",
                "95697c00712ece71"
            ]
        ]
    },
    {
        "id": "95697c00712ece71",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "e89489f417625c52",
        "name": "AlertaWP-VientosFuertes",
        "credtype": "account",
        "account": "9f90f7cebf5dd5ac",
        "text": "*WHTMet:* _¡Alerta! 🚨 Vientos Fuertes: Superiores a 30KM/H!_",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 1250,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "5ad4058568d24e46",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "TemperaturaChartGauge",
        "group": "c424cf24f5f42361",
        "order": 1,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Temperatura Exterior (SHT31)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 580,
        "wires": []
    },
    {
        "id": "f8280ff1db074bbc",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "TemperaturaChartGauge-CajaCircuitos",
        "group": "c424cf24f5f42361",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Temperatura Circuito (DHT11)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2196f3",
            "#9c27b0",
            "#e91e63"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 760,
        "wires": []
    },
    {
        "id": "8e06ec3df8f9e2da",
        "type": "ui_chart",
        "z": "e89489f417625c52",
        "name": "TemperaturaExteriorBarChart",
        "group": "7fc3d62958b2195d",
        "order": 1,
        "width": "20",
        "height": "8",
        "label": "Temperatura Exterior (°C)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#de7417",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7e11e4",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1560,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3caff417043d4bf2",
        "type": "ui_chart",
        "z": "e89489f417625c52",
        "name": "TemperaturaCircuitoBarChart",
        "group": "7fc3d62958b2195d",
        "order": 2,
        "width": "20",
        "height": "8",
        "label": "Temperatura Circuito (°C)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#de7417",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7e11e4",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1560,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "8c276f387ce063ec",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "TemperaturaChartDonut-CajaCircuitos",
        "group": "82dba23b537d48d3",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "donut",
        "title": "Temperatura Circuito (DHT11)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2196f3",
            "#9c27b0",
            "#e91e63"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 820,
        "wires": []
    },
    {
        "id": "c7d029d827b9e9bc",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "TemperaturaChartDonut",
        "group": "82dba23b537d48d3",
        "order": 1,
        "width": 8,
        "height": 8,
        "gtype": "donut",
        "title": "Temperatura Exterior (SHT31)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 520,
        "wires": []
    },
    {
        "id": "f92581cef17a7306",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "HumedadChartGauge",
        "group": "baaaca37c40d7c42",
        "order": 1,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Humedad Exterior (SHT31)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1520,
        "y": 120,
        "wires": []
    },
    {
        "id": "ad10a8b25ea855b4",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "HumedadChartGauge-CajaCircuitos",
        "group": "baaaca37c40d7c42",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Humedad Circuito (DHT11)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2196f3",
            "#9c27b0",
            "#e91e63"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1530,
        "y": 320,
        "wires": []
    },
    {
        "id": "e9f6d70e745dc76e",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "HumedadChartDonut",
        "group": "4df84e329d4fcb10",
        "order": 1,
        "width": 8,
        "height": 8,
        "gtype": "donut",
        "title": "Humedad Exterior (SHT31)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1520,
        "y": 160,
        "wires": []
    },
    {
        "id": "ce3b84a43c36069f",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "HumedadChartDonut-CajaCircuitos",
        "group": "4df84e329d4fcb10",
        "order": 2,
        "width": 8,
        "height": 8,
        "gtype": "donut",
        "title": "Humedad Circuito (DHT11)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#2196f3",
            "#9c27b0",
            "#e91e63"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1520,
        "y": 360,
        "wires": []
    },
    {
        "id": "4daa30bd44caba74",
        "type": "ui_chart",
        "z": "e89489f417625c52",
        "name": "HumedadExteriorBarChart",
        "group": "5ad62c4f4abd7656",
        "order": 1,
        "width": "20",
        "height": "8",
        "label": "Humedad Exterior (%)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#de7417",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7e11e4",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "ef3c071dabe5ef49",
        "type": "ui_chart",
        "z": "e89489f417625c52",
        "name": "HumedadCircuitoBarChart",
        "group": "5ad62c4f4abd7656",
        "order": 2,
        "width": "20",
        "height": "8",
        "label": "Humedad Circuito (%)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#de7417",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7e11e4",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "f6dd1baf21ff9e74",
        "type": "ui_chart",
        "z": "e89489f417625c52",
        "name": "TemperaturaHumedadExteriorBarChart",
        "group": "14f54a41936de035",
        "order": 2,
        "width": 30,
        "height": "14",
        "label": "Temperatura (°C) y Humedad (%) - Exterior",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#d77219",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7e11e4",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "38897057df5a2fbf",
        "type": "ui_chart",
        "z": "e89489f417625c52",
        "name": "TemperaturaHumedadCircuitosBarChart",
        "group": "14f54a41936de035",
        "order": 1,
        "width": 30,
        "height": "13",
        "label": "Temperatura (°C) y Humedad (%) - Circuitos",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#d77219",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7e11e4",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "9313f1588fb24a90",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "VientoMSChartGauge",
        "group": "f424c9be56642cc1",
        "order": 1,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Velocidad Viento (Anemómetro)",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 1520,
        "wires": []
    },
    {
        "id": "1c647053fdf01f42",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "VientoKHChartGauge",
        "group": "f424c9be56642cc1",
        "order": 10,
        "width": 8,
        "height": 8,
        "gtype": "gage",
        "title": "Velocidad Viento  (Anemómetro)",
        "label": "k/h",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 1620,
        "wires": []
    },
    {
        "id": "5e745bb3104ad82c",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "VientoMSChartDonut",
        "group": "09a8552aeef4729b",
        "order": 1,
        "width": 8,
        "height": 8,
        "gtype": "donut",
        "title": "Velocidad Viento (Anemómetro)",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 1560,
        "wires": []
    },
    {
        "id": "60f636060a0c26be",
        "type": "ui_gauge",
        "z": "e89489f417625c52",
        "name": "VientoKHChartDonut",
        "group": "09a8552aeef4729b",
        "order": 10,
        "width": 8,
        "height": 8,
        "gtype": "donut",
        "title": "Velocidad Viento  (Anemómetro)",
        "label": "k/h",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 1660,
        "wires": []
    },
    {
        "id": "e8afa89fb83db97f",
        "type": "ui_chart",
        "z": "e89489f417625c52",
        "name": "VientoMSBarChart",
        "group": "7e98c55768b4fd51",
        "order": 2,
        "width": "20",
        "height": "8",
        "label": "Viento (m/s)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#de7417",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7e11e4",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "d361372abae36e2d",
        "type": "ui_chart",
        "z": "e89489f417625c52",
        "name": "VientoKMBarChart",
        "group": "7e98c55768b4fd51",
        "order": 2,
        "width": "20",
        "height": "8",
        "label": "Viento (k/h)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#de7417",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7e11e4",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "e8596da73e789692",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "e89489f417625c52",
        "name": "AlertaWP-HumBajaExterior",
        "credtype": "account",
        "account": "9f90f7cebf5dd5ac",
        "text": "*WHTMet:* _¡Alerta! 🚨 Humedad de Exterior: Inferior a 20%!_",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 1540,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ce277a359fd40774",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "e89489f417625c52",
        "name": "AlertaWP-HumAltaExterior",
        "credtype": "account",
        "account": "9f90f7cebf5dd5ac",
        "text": "*WHTMet:* _¡Alerta! 🚨 Humedad de Exterior: Superior a 80%!_",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 1540,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "5ecff96cf082f1bb",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "e89489f417625c52",
        "name": "AlertaWP-TempBajaExterior",
        "credtype": "account",
        "account": "9f90f7cebf5dd5ac",
        "text": "*WHTMet:* _¡Alerta! 🚨 Temperatura de Exterior: Inferior a 5°C!_",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 1540,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "204c15ecf399116c",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "e89489f417625c52",
        "name": "AlertaWP-TempAltaExterior",
        "credtype": "account",
        "account": "9f90f7cebf5dd5ac",
        "text": "*WHTMet:* _¡Alerta! 🚨 Temperatura de Exterior: Superior a 40°C!_",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "str",
        "rejectssl": false,
        "x": 1540,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "23397f93e3457ae5",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "a6838c2b4b9beaa6",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "5c86ad258c65c139",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "8790302bc6f84b7a",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "31cda71f156e7c7f",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "998a65ef52ac6d15",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "74c2443574a4566f",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "b5d8b4d0cb6f2aa4",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "5ab26606d87b6cb9",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "5a3ec845371a5ea5",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "dedb5aa626f47436",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "38b73b3a9b08428f",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "cacc9bdfa8d29d17",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "84dca153c71eae92",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "e71214bcfb438702",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "28b694f66b099954",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "8a42d9c2e94d3e8d",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "096fe83471b3c96a",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "b4d490854e1927d5",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "e0a536b573c2e73a",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "cbc2ef2f6704fc5a",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "d2245b361a87d7f0",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "8d310252a93025de",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "ddfb3914951cd8f4",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "98cd29d903f31575",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "4c413063a5f60caf",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "02fd6ee2fceee587",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "1b4d1791bcd1be15",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "e7b493eb416c6783",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "c09323750e320345",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "3b4c2fc1f509d407",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "3fedc472a3dc66b0",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "46d7641c9a8fff6b",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "60cdd2297731c0cf",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "f169d2df03a39b7c",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "b6f84d7d676be503",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "a8f968f1e8ce30f0",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "2deb053c020f2fdb",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "d997db9e4bc743fb",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "8ee03a276d5c402a",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "217540f8e9b91ccc",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "5bc21062660d05c0",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "d828030137a8db5c",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "ffc9d5a3987a6f65",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "49f389878f22beb9",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "0e52f027d1aeb689",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "226bdd181dce7421",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "66d6201e2c640e85",
        "type": "ui_spacer",
        "z": "e89489f417625c52",
        "name": "spacer",
        "group": "29a389cd08922031",
        "order": 5,
        "width": "8",
        "height": "24"
    },
    {
        "id": "7a3090c3c7f1f505",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.147",
        "port": "1883",
        "clientid": "efdi-148",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8a42d9c2e94d3e8d",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "1b8f583791c90382",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "60cdd2297731c0cf",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "1b8f583791c90382",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "29a389cd08922031",
        "type": "ui_group",
        "name": "Información",
        "tab": "1b8f583791c90382",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "be57f1bc181a0eab",
        "type": "ui_group",
        "name": "Ubicación Geográfica",
        "tab": "1b8f583791c90382",
        "order": 6,
        "disp": true,
        "width": "30",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9f90f7cebf5dd5ac",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "WA-Notificación"
    },
    {
        "id": "226bdd181dce7421",
        "type": "ui_group",
        "name": "Viento",
        "tab": "1b8f583791c90382",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c424cf24f5f42361",
        "type": "ui_group",
        "name": "Temperaturas Gauge",
        "tab": "f005bc27cd2ece67",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7fc3d62958b2195d",
        "type": "ui_group",
        "name": "Temperaturas Barras",
        "tab": "f005bc27cd2ece67",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "82dba23b537d48d3",
        "type": "ui_group",
        "name": "Temperaturas Donut",
        "tab": "f005bc27cd2ece67",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "baaaca37c40d7c42",
        "type": "ui_group",
        "name": "Humedades Gauge",
        "tab": "4813a3502d34c6e9",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4df84e329d4fcb10",
        "type": "ui_group",
        "name": "Humedades Donut",
        "tab": "4813a3502d34c6e9",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ad62c4f4abd7656",
        "type": "ui_group",
        "name": "Humedades Barras",
        "tab": "4813a3502d34c6e9",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "14f54a41936de035",
        "type": "ui_group",
        "name": "Temperatura y Humedad Barras",
        "tab": "1b8f583791c90382",
        "order": 4,
        "disp": true,
        "width": "30",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f424c9be56642cc1",
        "type": "ui_group",
        "name": "Vientos Gauge",
        "tab": "2887738555216fae",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "09a8552aeef4729b",
        "type": "ui_group",
        "name": "Vientos Donut",
        "tab": "2887738555216fae",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7e98c55768b4fd51",
        "type": "ui_group",
        "name": "Vientos Barras",
        "tab": "2887738555216fae",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "1b8f583791c90382",
        "type": "ui_tab",
        "name": "WHTMet - Dashboard ",
        "icon": "fa-home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f005bc27cd2ece67",
        "type": "ui_tab",
        "name": "WHTMet - Dashboard Temperaturas ",
        "icon": "equalizer",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4813a3502d34c6e9",
        "type": "ui_tab",
        "name": "WHTMet - Dashboard Humedades",
        "icon": "timeline",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2887738555216fae",
        "type": "ui_tab",
        "name": "Dashboard Vientos",
        "icon": "send",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]